.tabBar_container {
  box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.13);
  position: fixed;
  z-index: 2;
  bottom: 60px;
  background: #fff;
  border-radius: 32px;
  padding: 12px;
}

.tabBar_item {
  padding: 12px;
}

.tabBar_item_active {
  background: rgba(31, 93, 253, 0.20);
  border-radius: 57px;
  padding: 12px;
  color: red;
}